:root {
    --grey-background: #E6E6E6;
    --white-page: #F7F7F7;
    --black-font: #373737;
    --blue-link: #0074D9;
}

body {
    font-family: Lato, sans-serif;
    background-color: var(--grey-background);
    font-size: 120%;
    color: var(--black-font);
}

h1 {
    font-size: 250%;
    font-weight: 900;
    letter-spacing: -0.03em;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

ul {
    list-style-type: circle;
    padding-left: 25px;
}

li {
    padding-top: 0px;
    padding-bottom: 0px;
}

a {
    color: var(--blue-link);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    font-size: 90%;
    text-align: right;
}

.page{
    margin: auto;
    max-width: 1200px;
    background: var(--white-page);
    padding-top: 20px;
    padding-bottom: 250px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 700px) {
  .page {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.button {
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    border: solid 2px var(--blue-link);
/*    margin-top: 6px;*/
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 5px;
}

.current {
    color: var(--white-page);
    background-color: var(--black-font);
    border-color: var(--black-font);
}

.link:hover {
    text-decoration: none;
    color: var(--white-page);
    background-color: var(--blue-link);
}

.footer {
    font-size: 75%;
    text-align: center;
    margin-top: 50px;
}