body {
    font-family: "Merriweather", sans-serif;
    background-color: #E0E0E0;
    font-size: 110%;
    color: #373737;
    margin: 0px;
}

h1 {
    font-size: 250%;
    font-weight: 900;
    letter-spacing: -0.03em;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

ul {
    list-style-type: circle;
    padding-left: 25px;
}

li {
    padding-top: 0px;
    padding-bottom: 0px;
}

a {
    color: #0074D9;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    font-size: 90%;
    text-align: right;
}

.page{
    margin: auto;
    max-width: 1200px;
    background: #F0F0F0;
    padding-top: 20px;
    padding-bottom: 250px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 700px) {
  .page {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.button {
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    border: solid 2px #0074D9;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 5px;
}

.current {
    color: #F0F0F0;
    background-color: #373737;
    border-color: #373737;
}

.link:hover {
    text-decoration: none;
    color: #F0F0F0;
    background-color: #0074D9;
}

.footer {
    font-size: 75%;
    text-align: center;
    margin-top: 50px;
}