:root {
    --white-page: #FFFFFF;
    --grey-bg: #F0F0F0;
    --black-font: #373737;
    --blue-link: #0074D9;
}

body {
    font-family: Lato, sans-serif;
    /* background-color: var(--grey-bg); */
    font-size: 120%;
    color: var(--black-font);
    margin: 10px;
    padding: 0;
}

.page {
    max-width: 1300px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 20px;
}

h1 {
    font-size: 300%;
    font-weight: 900;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
}

a {
    color: var(--blue-link);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-list {
    text-align: center;
    list-style-type: none;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: 120%;
}

@media (max-width: 700px) {
  .page {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-item {
    display: block;
  }
}

.footer {
    text-align: center;
    font-size: 75%;
    padding-top: 50px;
}