@font-face {
  font-family: "Aleo";
  src: url("./fonts/Aleo.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: url("./fonts/Aleo-Italic.ttf");
  font-style: italic;
}

:root {
  --black: #111111;
  --gray: #777777;
  --silver: #efefef;
  --white: #ffffff;

  --navy: #001f3f;
  --blue: #0074D9;
  --teal: #39CCCC;
  --olive: #3D9970;
  --green: #2ecc40;
}

html {
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: "Aleo", monospace;
  max-width: 900px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
}

.header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.header-title {
  flex: 50%;
}

.header-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.header-subtitle {
  margin: 0;
  font-size: 0.8rem;
}

.header-nav {
  flex: 50%;
  text-align: right;
}

.nav-current {
  font-weight: bold;
  margin-left: 0.5rem;
}

.nav-link {
  margin-left: 0.5rem;
  color: var(--gray);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--black);
}

@media (max-width: 800px) {
  .header {
    display: block;
  }
  .header-title, .header-nav {
    flex: unset;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  .nav-link, .nav-current {
    margin-left: 0;
    margin-right: 0.5rem;
  }
  .header-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.section {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.book-year {
  font-size: 1.1rem;
  font-weight: bold;
}

.book-list {
  line-height: 1.5rem;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.link-button {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
}

.link-button a {
  color: var(--blue);
  text-decoration: none;
}

.row {
  width: 100%;
  margin: 1rem 0;
}

.col-left, .col-right {
  display: inline-block;
  vertical-align: top;
}

.col-left {
  width: 20%;
  font-weight: bold;
}

.col-right {
  width: 79%;
}

.col-left-pub, .col-right-pub {
  display: inline-block;
  vertical-align: top;
}

.col-left-pub {
  width: 9%;
  font-weight: bold;
}

.col-right-pub {
  width: 90%;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

li {
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .col-left, .col-right, .col-left-pub, .col-right-pub {
    display: block;
    width: 100%;
  }
  .col-right {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  .col-right-pub {
    margin-top: 0.5rem;
  }
}

.gallery {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  background: var(--silver);
  border-radius: 20px;
  border: 4px solid var(--gray);
  margin-right: 0.1rem;
  margin-bottom: 0.3rem;
}

.gallery-item img {
  height: 240px;
  width: auto;
  margin: 10px;
}

.figcaption {
  color: var(--base02);
  font-weight: bold;
  font-size: 0.8rem;
  margin: 10px;
}

.footer {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 0.8rem;
  text-align: center;
}
