@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --blue: #0074D9;
    
}

body {
    font-family: "Lato", sans-serif;
    max-width: 800px;
    margin: auto;
    padding-bottom: 20rem;
}

@media (max-width: 900px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

a {
    color: var(--blue);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 2rem;
}

li {
    margin-bottom: 2px;
}

.header-image {
    width: 200px;
    padding-right: 1rem;
}

.header-item {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1rem;
}

.header-name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 250%;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0;
    margin-bottom: 0.3rem;
}

.header-item p {
    margin: 0;
    margin-bottom: 0.3rem;
    font-size: 85%;
}

.link-button{
    font-weight: bold;
    font-size: 85%;
    display: inline-block;
}

.pub-year{
    vertical-align: top;
    text-align: center;
    font-weight: bold;
}

.gallery-item {
    display: inline-block;
    border: 3px solid gray;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-right: 3px;
    margin-top: 5px;
}

.figcaption {
    text-align: center;
    font-size: 85%;
    font-weight: bold;
    padding-top: 6px;
}

.gallery-item img {
    max-height: 120px;
    width: auto;
    padding: 12px;
}

.footer {
    text-align: center;
    font-size: 85%;
    margin-top: 75px;
}
